.cont {
	margin: auto;
	max-width: 50%;
	margin-top: 2rem;
	/* border: 1px solid black; */
	min-height: 80vh;
	max-height: 80vh;

	/* background-color: red; */
	display: flex;
	column-gap: 2rem;
	flex-direction: row;
}
.left {
	flex: 1;
	/* border-top: 1px solid black; */
	/* height: 100%; */
}
.styleElement {
	height: 40vw;
	width: 40vw;
	border-radius: 50%;
	position: absolute;
	background-color: #ffefd662;
	bottom: 10vh;
	right: 10vw;
	z-index: -1;
}
.switchButton {
	width: 100%;
	/* border: 1px solid black; */
	/* height: 1rem; */
	display: flex;
	column-gap: 1rem;
	flex-direction: row;
}
.switchButton div {
	flex: 1;
	border-radius: 1rem;
	text-align: center;
	padding: 0.5rem;
	border: 1px solid #41403e40;
	font-size: 1.2rem;
	font-weight: bold;
}
.formNew,
.formOld {
	border: 1px solid #41403e40;
	border-radius: 1rem;
	margin-top: 2rem;
	font-size: 1.2rem;
	height: 100%;
	/* background-color: red; */
	position: relative;
}
.formNew label,
.formOld label {
	float: left;
}
.formNew input,
.formOld input {
	/* float: right; */
	height: 1.2rem;
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	border: 1px solid #41403e40;
}
.formNew div,
.formOld div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}
.formNew form,
.formOld form {
	margin: 1rem;
}
.formOld br,
.formNew br {
	margin: 0.5rem;
}
.formNew button,
.formOld button {
	padding: 0.5rem;
	font-size: 1.2rem;
	border-radius: 1rem;
	border: 1px solid #41403e40;
	width: 50%;
	position: relative;
	left: 50%;
	margin-top: 2rem;
	background-color: #add08c;
	color: #fff;
	font-weight: bold;
}

@media (max-width: 1000px) {
	.cont {
		flex-direction: column;
	}
}
